.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.school {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

.coursework {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
}
