.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    position: relative;
    max-width: 100%;
    font-style: normal;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande";
    background-color: #f0f0f0;
}

.itemOne {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 50vh;
}

.image {
    max-width: 80%;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
}

.itemTwo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40vw;
    height: 50vh;
}
