.header {
    left: 0%;
    right: 0%;
    background-color: white;
    position: fixed;
    transition: top 0.4s;
    z-index: 1;
}

.container {
    display: flex;
    justify-content: space-between;
    /* lato font */
}

.linksContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-right: 1rem;
}

.linksContainer > * {
    margin-left: 1rem;
}

a {
    text-decoration: none;
    color: black;
}

a::after {
    display: block;
    content: "";
    border-bottom: solid 3px #d3cbf5;
    transform: scaleX(0);
    transition: 350ms ease-in-out;
    transform-origin: 0% 50%;
}

.lato-thin {
    font-family: "Lato", serif;
    font-weight: 100;
    font-style: normal;
}

.lato-light {
    font-family: "Lato", serif;
    font-weight: 300;
    font-style: normal;
}

.lato-regular {
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;
}

.lato-bold {
    font-family: "Lato", serif;
    font-weight: 700;
    font-style: normal;
}

.lato-black {
    font-family: "Lato", serif;
    font-weight: 900;
    font-style: normal;
}

.lato-thin-italic {
    font-family: "Lato", serif;
    font-weight: 100;
    font-style: italic;
}

.lato-light-italic {
    font-family: "Lato", serif;
    font-weight: 300;
    font-style: italic;
}

.lato-regular-italic {
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: italic;
}

.lato-bold-italic {
    font-family: "Lato", serif;
    font-weight: 700;
    font-style: italic;
}

.lato-black-italic {
    font-family: "Lato", serif;
    font-weight: 900;
    font-style: italic;
}
